/* Reset */
body, h1, h2, h3, p, ul{
    padding: 0px;/*zerando paddin*/
    margin: 0px;/*Zerando margin*/
}
/*estilo padrão*/
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
}
/*estilo menu*/
.menu{
    background: #252525;
    padding: 20px 0;/*20px para cima e pra baixo*/
}
.menu-container{
    max-width: 960px;/*facilita o responsivo*/
    margin: 0 auto;/*0 pra cime e baixo e automatico para esquerda e direita*/
}
.menu-container::after, .menu-container::before{
    content: '';
    display: table;
    clear: both;
}
a.menu-logo{
    display: block;
    float: left;/*elementos flutuando*/
    margin-left: 10px;
}
.menu-lista{
    float: right;/*flutuando a esquerda*/
    margin-right: 10px;
}
.menu-lista li{
    display: inline-block;/*elementos em linha*/
}
.menu-lista a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;/*calculo px para em 16/18 = 1.125*/
}
/*Intro*/
.intro{
    background: url('img/bg-intro.jpg') no-repeat center center;
    background-size:cover;
    /*padding-top: 150px;cria uma margem interna pra cima cima*/
    padding: 150px 0;/*significa que o elemento recebeu 150 emcima e baixo e 0 nas laterais*/
    text-align: center;
    color: #fff;
}
.intro h1{
    text-transform: uppercase;
    font-size: 3em;
}
.intro h1::after {/*Criando o separador entre o h1 e o p*/
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background: #fff;
    margin: 10px auto;
}
.intro p{
    font-style: italic;
    font-size: 18px;
}

/*Sobre*/
.sobre{
    padding: 60px 0;
}
.sobre-container{
    max-width: 960px;
    margin: 0 auto;
}
.sobre-container::after, .sobre-container::before{
    content: '';
    display: table;
    clear: both;
}
.sobre h2{
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
}
.sobre-item{
    width: 460px;
    float: left;
    margin: 0 10px;
}
.sobre-item img{
    display: block;
    max-width: 100%;
}
.sobre-item h3{
    font-size: 2.25em;
    line-height: 1em;
    background: #252525;
    width: 220px;
    color: #fff;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 10px 0;
    top: -25px;
    position: relative;
}
.sobre > p{
    font-size: 1.125em;
    line-height: 1.4em;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    max-width: 460px;
}
/*Produtos*/
.produtos{
    background: #ebebeb;
    padding: 60px 0;
    border-top: 3px solid #c9c9c9;
    border-bottom: 3px solid #c4c4c4;
}
.produtos-container{
    max-width: 960px;/*tamanho total do container que segura os itens*/
    margin: 0 auto;
}
.produtos-container::before, .produtos-container::after{
    content: '';
    clear: both;
    display: table;
}
.produtos-item{
    width: 300px;
    float: left;
    margin: 0 10px 20px 10px;
}
.produtos-item h2{
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 20px;
}
/*criando os ícones de circulo*/
.produtos-item h2::before{
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background-color: currentColor;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #e7e4d8;
    box-shadow: 0 0 0 5px currentColor;
}
h2.produtos-paulista::before{
    color: #492901;
}
h2.produtos-mineiro::before{
    color: #c17139;
}
h2.produtos-bahiano::before{
    color: #d7a54d;
}
/**/
.produtos-item p {
    font-size: 0.875em;
    line-height: 1.4em;
}
/*botão*/
.produtos-btn{
	width: 180px;
	border: 3px solid #252525;
	color: #252525;
	text-decoration: none;
	display: block;
	margin: 20px auto 0 auto;
	text-align: center;
	font-size: 1.125em;
	font-weight: bold;
	text-transform: uppercase;
	padding: 15px 0;
}
/*Locais*/
